@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.forms-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    animation: animateBg 5s linear infinite;
    position: relative;
}

@keyframes animateBg {
    100% {
        filter: hue-rotate(360deg);
    }
}

.login-box,
.register-box,
.forgot-password-box,
.otp-verification-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(15px);
    opacity: 0;
    z-index: 0;
    transition: opacity 0.5s ease, z-index 0.5s ease;
}

.active {
    opacity: 1;
    z-index: 1;
}

h2 {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    margin: 15px 0;
    border-bottom: 2px solid #fff;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
}

.remember-forget {
    margin: 10px 0;
    font-size: 0.9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

button {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
}

button:hover {
    background-color: #ddd;
}

.register-link {
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    margin: 20px 0 10px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .login-box,
    .register-box,
    .forgot-password-box,
    .otp-verification-box {
        width: 90%;
    }
}